/* assets/main.css */
@import 'primeicons/primeicons.css';
@import 'tailwindcss';
@import 'tailwindcss-primeui';

@layer base {
  html {
    font-family: 'Inter', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
  }

  body {
    background-color: #020617;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* color: var(--p-text-color); */
    font-weight: 400;
    margin: 0;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
